:root {
  --color-primary: #4ac8e8;
  --color-secondary: #0066AA;
  --color-dark: #333;
  --color-light: white;
  --font-main: 'Mulish', sans-serif;
  --font-size-site-name: 26px;
  --font-size-tools: 12px;
  --padding-default: 10px;
  --margin-section: 3vw;
  --max-width-desktop: 920px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  color: black;
}

a, a:visited, a:active, li {
  text-decoration: none;
  color: inherit;
}

nav a, nav a:visited, nav a:active {
  color: var(--color-light);
}

main, footer {
  margin: var(--margin-section);
}

h1 {
  margin: 25px 0;
}

hr {
  margin: 20px 0;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.623);
  width: 100%;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vw;
}

.siteName {
  font-size: var(--font-size-site-name);
}

#tools {
  font-size: var(--font-size-tools);
}

nav {
  display: flex;
  background-color: var(--color-dark);
  color: var(--color-light);
  align-items: center;
  height: 50px;
  margin: 20px 0;
  padding: 0 40px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

nav li {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  align-items: stretch;
  margin: 0;
}

nav a {
  color: var(--color-light);
  font-weight: bold;
  padding: 0 var(--padding-default);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

nav a:hover {
  color: var(--color-secondary);
  background-color: rgba(255, 255, 255, 0.1);
}

.hero {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero .overlay {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
  width: 180px;
  padding: var(--padding-default);
  font-size: 14px;
}

.overlay img {
  width: 100px;
  background-color: var(--color-primary);
  margin-top: 8px;
  display: inline-block;
  height: auto;
}

.reviews {
  margin: 20px 0;
}

.reviews p {
  line-height: 1.6;
}

.upgrade-figures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-bottom: 15px;
}

.upgrades h2 {
  margin-bottom: 15px;
}

figure {
  background-color: var(--color-primary);
  padding: var(--padding-default);
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.homepage img {
  max-width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

figcaption {
  margin-top: 8px;
  text-align: center;
}

figcaption a {
  color: black;
  text-decoration: underline;
}

#inv-display {
    list-style: none;
    padding: 0;
}

#inv-display li {
  border: #7c7f8132 3px solid;
  border-radius: 5px;
  width: 90%;
  max-width: 220px;
  margin: 20px auto;
  display: grid;
  place-items: center;
  text-align: center;
  height: 320px;
  overflow: hidden;
}

#inv-display img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 5px 0 0;
  margin: 0;
}

.namePrice {
  width: 100%;
  padding: var(--padding-default);
}

.vehicle-detail__image-wrapper {
  width: 100%;
  margin: 30px 0;
  background-color: var(--color-light);
  border: none;
  padding: 0;
}

.vehicle-detail img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.vehicle-detail__info {
  line-height: 1.5;
  padding: var(--padding-default);
}

.vehicle-detail__info > * {
  padding: 5px 0;
}

.vehicle-detail__price,
.vehicle-detail__color,
.vehicle-detail__description {
  background-color: rgba(191, 191, 191, 0.161);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.account-form, .register-form {
  padding: 15px;
  font-family: var(--font-main);
  font-size: 15px;
  width: 100%;
  max-width: 450px;
  margin: 10px auto;
  border-radius: 5px;
}

.account-form {
  border: #868484fb 2px solid;
  box-shadow: 2px 2px 5px rgba(154, 154, 154, 0.798);
  background-color: #2c3a55;
  color: var(--color-light);
  display: block;
}

.register-form {
  margin: 1px auto 5px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input:not([type="checkbox"]):not([type="radio"]), textarea, select {
  width: 100%;
  margin: 5px 0 10px;
  padding: 8px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit, .register {
  display: block;
  margin: 15px auto 10px;
  padding: 8px 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-dark);
  transition: background-color 0.3s;
}

.register {
  border-radius: 50px;
  background-color: #ccc;
}

.account-form p {
  text-align: center;
}

.account-form a {
  text-decoration: underline;
  color: var(--color-primary);
}

.indent {
  margin-left: 20px;
}

#passBtn {
  border: 2px solid #000000a0;
  border-radius: 5px;
  padding: 4px;
  font-size: small;
  text-align: center;
  display: inline-block;
}

input:required:invalid, input:focus:invalid {
  background-color: rgba(255, 135, 155, 0.506);
  border-color: rgb(183, 3, 3);
}

input:required:valid {
  background-color: rgba(144, 238, 144, 0.675);
  border-color: darkgreen;
}

.notice {
  color: rgb(183, 3, 3);
  margin: 10px 0 10px 4vw;
  list-style-type: disc;
  font-size: 13px;
}

.notice.footer {
  color: rgb(223, 57, 57);
  margin: 0;
}

.inv-management ul {
  list-style: none;
  padding: 0;
}

.inv-management li {
  text-decoration: underline;
  margin: 0 0 10px 15px;
  color: rgb(4, 4, 177);
  list-style: disc;
}

.add-classification , .add-inventory {
  padding: 20px;
  width: 90%;
  max-width: 450px;
  margin: 10px auto;
  border-radius: 4px;
  background-color: var(--color-primary);
}

fieldset {
  padding: 20px;
  font-family: var(--font-main);
  width: 100%;
  border: 1px solid var(--color-dark);
  border-radius: 4px;
}

.class-name {
  font-size: 24px;
}

.add-classification p, .add-inventory p {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  margin: 5px 0;
}

#addClassificationForm p {
  font-size: 15px;
  margin: 8px 0;
}

@media screen and (min-width: 600px) {
  body {
    background-image: url('../images/site/small_check.jpg');
    background-size: cover;
  }

  #wrapper {
    border: var(--color-primary) 5px solid;
    border-radius: 10px;
    background-color: var(--color-light);
    width: 90%;
    max-width: var(--max-width-desktop);
    margin: 24px auto;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: var(--margin-section);
  }

  main h1, .hero {
    grid-column: 1 / -1;
  }

  .reviews {
    grid-column: 2 / 3;
    padding: 0;
    margin: 0;
  }

  .upgrades {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .reviews h2, .upgrades h2 {
    margin: 15px 0;
  }

  .reviews p {
    line-height: 1.6;
  }

  #inv-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: var(--padding-default);
  }

  #inv-display li {
    margin: 0;
  }

  .namePrice {
    height: auto;
  }

  .vehicle-detail {
    display: flex;
    gap: 30px;
    align-items: flex-start;
  }

  .vehicle-detail__image-wrapper {
    width: 40%;
    margin: 0;
  }

  .vehicle-detail__info {
    width: 60%;
    padding: 0;
  }

  .vehicle-detail img {
    width: 100%;
  }

  .vehicle-detail h2 {
    margin-top: 0;
  }

  form {
    grid-column: 1 / -1;
    margin: 30px auto;
  }

  .notice, .inv-management {
    grid-column: 1 / -1;
  }

  footer {
    text-align: center;
    padding: var(--padding-default);
  }
}