<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (locals.loggedin && locals.accountData && (locals.accountData.account_type === 'Employee' || locals.accountData.account_type === 'Admin')) { %>
<p>
    <a href="/inv/add-classification">Add New Classification</a> |
<a href="/inv/add-inventory-form">Add New Inventory</a>
</p>
<% } %>

<h2>Manage Inventory</h2>
<p>Select a classification from the list to see the items belonging to the classification.</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<h2 style="margin-top: 30px;">Delete Classification</h2>
<p>
    **WARNING:** You can only delete classifications that contain no vehicles.
</p>
<form id="deleteClassificationForm" action="/inv/delete-classification" method="post">
    <fieldset>
        <legend>Select Classification to Delete</legend>
        <label for="classification_id">Classification</label>
        <%- classificationSelect %> 
        <button class="submit" type="submit">Delete Selected Classification</button>
    </fieldset>
</form>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>